UB Apartment Price Prediction

Chinguun Batsaikhan

1: Importing Conda Packages

In [455]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from sklearn import *

%matplotlib inline

2: Importing The Data

In [456]:
df1 = pd.read_csv('/content/drive/MyDrive/Pset2/X.csv')

In [457]:
df1.head()

     rooms  year_built        location  ...  window_type num_windows floor_type
0  5+ өрөө        2010          Зайсан  ...  Модон вакум           5     Паркет
1   2 өрөө        2019           Нисэх  ...        Вакум           3     Паркет
2   2 өрөө        2017           Бусад  ...        Вакум           2     Паркет
3   2 өрөө        2009  25-р эмийн сан  ...        Вакум           4     Паркет
4   2 өрөө        1994   21-р хороолол  ...        Вакум           3     Цемент

[5 rows x 14 columns]

In [458]:
df2 = pd.read_csv('/content/drive/MyDrive/Pset2/y.csv')

In [459]:
df2.head()

          price
0  2.654028e+06
1  1.737705e+06
2  1.773050e+06
3  1.520527e+06
4  1.107143e+06

In [460]:
testdf = pd.read_csv('/content/drive/MyDrive/Pset2/test.csv', index_col='id')

In [461]:
testdf.head()

       rooms  year_built       location  ...  window_type num_windows floor_type
id                                       ...
3901  2 өрөө        2019        100 айл  ...        Вакум           2     Паркет
353   2 өрөө        2019  15-р хороолол  ...        Вакум           2     Паркет
2978  1 өрөө        1980  3, 4 хороолол  ...        Вакум           2     Паркет
1197  1 өрөө        2010       Баянбүрд  ...        Вакум           1     Паркет
2121  2 өрөө        2017         Зайсан  ...        Вакум           3     Паркет

[5 rows x 14 columns]

3: Data Cleaning

In [462]:
df1.dtypes

rooms                   object
year_built               int64
location                object
building_floor_num       int64
garage                  object
district                object
leasing                 object
balcony                 object
size_meters            float64
door_type               object
apartment_floor_num      int64
window_type             object
num_windows              int64
floor_type              object
dtype: object

In [463]:
df2.dtypes

price    float64
dtype: object

In [464]:
testdf.dtypes

rooms                   object
year_built               int64
location                object
building_floor_num       int64
garage                  object
district                object
leasing                 object
balcony                 object
size_meters            float64
door_type               object
apartment_floor_num      int64
window_type             object
num_windows              int64
floor_type              object
dtype: object

In [465]:
df1.dtypes
for x in df1:
    if df1[x].dtypes == "object":
        df1[x] = df1[x].astype('category')

In [466]:
df1.dtypes

rooms                  category
year_built                int64
location               category
building_floor_num        int64
garage                 category
district               category
leasing                category
balcony                category
size_meters             float64
door_type              category
apartment_floor_num       int64
window_type            category
num_windows               int64
floor_type             category
dtype: object

In [467]:
df1[df1.select_dtypes(['category']).columns] = df1.select_dtypes(['category']).apply(lambda x: x.cat.codes)

In [468]:
df1.dtypes

rooms                     int8
year_built               int64
location                  int8
building_floor_num       int64
garage                    int8
district                  int8
leasing                   int8
balcony                   int8
size_meters            float64
door_type                 int8
apartment_floor_num      int64
window_type               int8
num_windows              int64
floor_type                int8
dtype: object

In [469]:
df1.head()

   rooms  year_built  location  ...  window_type  num_windows  floor_type
0      4        2010        47  ...            2            5           2
1      1        2019        53  ...            0            3           2
2      1        2017        41  ...            0            2           2
3      1        2009        13  ...            0            4           2
4      1        1994        11  ...            0            3           4

[5 rows x 14 columns]

In [470]:
testdf.dtypes
for x in testdf:
    if testdf[x].dtypes == "object":
        testdf[x] = testdf[x].astype('category')

In [471]:
testdf[testdf.select_dtypes(['category']).columns] = testdf.select_dtypes(['category']).apply(lambda x: x.cat.codes)

In [472]:
testdf.dtypes

rooms                     int8
year_built               int64
location                  int8
building_floor_num       int64
garage                    int8
district                  int8
leasing                   int8
balcony                   int8
size_meters            float64
door_type                 int8
apartment_floor_num      int64
window_type               int8
num_windows              int64
floor_type                int8
dtype: object

4: Splitting The Data

In [473]:
df1_train, df1_test, df2_train, df2_test = model_selection.train_test_split(df1, df2, test_size=.2, random_state=40)

5: Linear Regression

In [474]:
Reg = linear_model.LinearRegression()

In [475]:
Reg.fit(df1_train, df2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [476]:
Reg_Pred = Reg.predict(df1_test)

In [477]:
np.sqrt(metrics.mean_squared_error(df2_test, Reg_Pred))

593148.6121628642

6: Random Forrest

In [478]:
Ran = ensemble.RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features=7, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=-1, oob_score=False,
                      random_state=40, verbose=0, warm_start=False)

In [479]:
Ran.fit(df1_train, np.ravel(df2_train))

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features=7, max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=-1, oob_score=False,
                      random_state=40, verbose=0, warm_start=False)

In [480]:
Ran_Pred = Ran.predict(df1_test)

In [481]:
np.sqrt(metrics.mean_squared_error(df2_test, Ran_Pred))

423139.3906785424

7: MLP

In [482]:
nrl = neural_network.MLPRegressor()

In [483]:
nrl.fit(df1_train, df2_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=200,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [484]:
nrl_pred = nrl.predict(df1_test)

In [485]:
np.sqrt(metrics.mean_squared_error(df2_test, nrl_pred))

701936.477208084

8: SGD Regressor

In [486]:
SGD = linear_model.SGDRegressor()

In [487]:
SGD.fit(df1_train, df2_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [488]:
SGD_Pred = SGD.predict(df1_test)

* Bonus

In [489]:
np.sqrt(metrics.mean_squared_error(df2_test, SGD_Pred))

1490441358963174.0

In [490]:
rf_params = {'n_estimators':[ 50, 100, 150, 200, 250, 300, 350, 400, 450],'min_samples_split':np.arange(1,10),
             'min_samples_leaf':np.arange(1,10)}

In [491]:
forest_random = model_selection.RandomizedSearchCV(Ran, rf_params, n_iter=70, scoring='neg_root_mean_squared_error',
                                                n_jobs=-1, verbose=3)

In [492]:
forest_random.fit(df1_train, df2_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 70 candidates, totalling 350 fits

[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   32.1s

KeyboardInterrupt: ignored

In [ ]:
forest_random_pred = forest_random.predict(df1_test)

In [ ]:
np.sqrt(metrics.mean_squared_error(df2_test, forest_random_pred))

In [ ]:
forest_random.best_estimator_

10: Predictions

In [493]:
prediction = Ran.predict(testdf)

In [494]:
prediction = pd.DataFrame(prediction, index=testdf.index, columns=['price'], )

In [495]:
prediction.to_csv('prediction4.csv', index=True)

In [496]:
prediction

             price
id
3901  1.711957e+06
353   1.609473e+06
2978  1.909658e+06
1197  1.913878e+06
2121  2.269660e+06
...            ...
550   2.607638e+06
2998  2.813789e+06
1862  1.682633e+06
3456  1.529938e+06
3273  2.674102e+06

[966 rows x 1 columns]